In [0]:
from pymongo import MongoClient
import pandas as pd

In [0]:
pip install pymongo

Python interpreter will be restarted.
Collecting pymongo
  Downloading pymongo-4.11-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (921 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11
Python interpreter will be restarted.

In [0]:
uri = "mongodb+srv://sudhanshu:sudh1234@sudhanshu.aprk5.mongodb.net/?retryWrites=true&w=majority&appName=sudhanshu"

# Create a new client and connect to the server
client = MongoClient(uri)
db = client['inventory']
collection = db['supplychain_data']

In [0]:
data = list(collection.find())

In [0]:
df = pd.DataFrame(data)

In [0]:
df.head()

,_id,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,67a872fd3beb812e196f206d,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,67a872fd3beb812e196f206e,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,67a872fd3beb812e196f206f,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,67a872fd3beb812e196f2070,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,67a872fd3beb812e196f2071,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [0]:
df.drop(columns=["_id"],inplace=True)

In [0]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col , date_format
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [0]:
spark  = SparkSession.builder.appName("supply chain inventory price prediction").getOrCreate()
inventory_df= spark.createDataFrame(df)

In [0]:
inventory_df.columns

Out[17]: ['Product type',
 'SKU',
 'Price',
 'Availability',
 'Number of products sold',
 'Revenue generated',
 'Customer demographics',
 'Stock levels',
 'Lead times',
 'Order quantities',
 'Shipping times',
 'Shipping carriers',
 'Shipping costs',
 'Supplier name',
 'Location',
 'Lead time',
 'Production volumes',
 'Manufacturing lead time',
 'Manufacturing costs',
 'Inspection results',
 'Defect rates',
 'Transportation modes',
 'Routes',
 'Costs']

In [0]:
inputColumn =["Price",'Stock levels']

In [0]:
assembler = VectorAssembler(inputCols=["Price",'Stock levels'],outputCol="features")
data = assembler.transform(inventory_df).select("features","price")

In [0]:
data.show()

+--------------------+------------------+
|            features|             price|
+--------------------+------------------+
|[69.8080055421157...| 69.80800554211577|
|[14.8435232750843...| 14.84352327508434|
|[11.3196832930905...|11.319683293090566|
|[61.1633430164377...|61.163343016437736|
|[4.80549603634589...| 4.805496036345893|
|[1.69997601386593...|1.6999760138659377|
|[4.07833286310794...| 4.078332863107945|
|[42.9583843824600...| 42.95838438246007|
|[68.7175967485273...| 68.71759674852733|
|[64.0157329412785...| 64.01573294127854|
|[15.7077956819121...|15.707795681912138|
|[90.6354599822886...| 90.63545998228868|
|[71.2133890753600...| 71.21338907536008|
|[16.1603933173799...|16.160393317379977|
|[99.1713286386242...|  99.1713286386242|
|[36.9892449286269...| 36.98924492862691|
|[7.54717210979127...| 7.547172109791272|
|[81.4625343692370...| 81.46253436923702|
|[36.4436277704609...|36.443627770460935|
|[51.1238700879647...| 51.12387008796474|
+--------------------+------------------+
only showing top 20 rows

In [0]:
train_data , test_data = data.randomSplit([.8,.2])

In [0]:
rf = RandomForestRegressor(featuresCol="features",labelCol="price",numTrees=100)
model = rf.fit(train_data)

In [0]:
prediction = model.transform(test_data)

In [0]:
evalautor = RegressionEvaluator(labelCol="price",predictionCol="prediction",metricName="rmse")
evalautor.evaluate(prediction)

Out[37]: 3.586322016628724

In [0]:
prediction.show()

+--------------------+------------------+------------------+
|            features|             price|        prediction|
+--------------------+------------------+------------------+
|[4.07833286310794...| 4.078332863107945|10.253696434763485|
|[14.8435232750843...| 14.84352327508434|17.332523155490176|
|[36.4436277704609...|36.443627770460935|34.752296728592356|
|[50.8473930517187...|  50.8473930517187|48.574987118420346|
|[63.4475591852073...| 63.44755918520733| 63.94019072811316|
|[81.4625343692370...| 81.46253436923702| 79.67802432790855|
|[99.1713286386242...|  99.1713286386242| 88.78172310591839|
|[23.3998447526143...| 23.39984475261435| 23.32013369499265|
|[33.6977172066431...| 33.69771720664313|26.737084803811094|
|[49.2632053507341...| 49.26320535073416|50.879315485854455|
|[83.8510176813046...|  83.8510176813046| 81.74009864642511|
|[89.6340956081353...| 89.63409560813533| 85.35876770268804|
|[13.8819135013591...|13.881913501359142|15.345203715426862|
|[57.0570312211032...| 57.05703122110322| 57.89566616202963|
|[68.7175967485273...| 68.71759674852733| 64.33040875876242|
|[69.1087995474303...| 69.10879954743032| 61.12593618255147|
|[69.2908310029054...| 69.29083100290549| 66.01730368582264|
|[72.8192069303182...| 72.81920693031822| 72.31164277808753|
|[97.7600855819386...| 97.76008558193868| 85.06253061394128|
|[7.54717210979127...| 7.547172109791272|  9.14377117827159|
+--------------------+------------------+------------------+
only showing top 20 rows

In [0]:
df_prediction = prediction.select("price","prediction").toPandas()

In [0]:
df_prediction

,price,prediction
0,4.078333,8.484126
1,14.843523,14.990724
2,36.443628,35.245230
3,50.847393,50.544151
4,63.447559,65.373209
5,81.462534,82.347773
6,99.171329,91.070253
7,23.399845,25.201293
8,33.697717,31.190046
9,49.263205,51.066287
10,83.851018,82.465343
11,89.634096,88.154556
12,13.881914,14.139789
13,57.057031,58.252511
14,68.717597,65.628779
15,69.108800,66.603505
16,69.290831,69.563770
17,72.819207,73.914794
18,97.760086,89.068902
19,7.547172,9.223350
20,36.989245,35.421428
21,64.795435,66.319313
22,92.557361,88.800473
23,95.712136,86.222386
24,99.113292,91.563099
25,3.170011,8.643621
26,26.700761,29.272888
27,68.911246,68.544138
28,89.104367,86.433655
29,91.128318,88.433259
30,98.031830,91.563099
31,3.526111,8.164123
32,7.547172,9.223350
33,11.319683,15.973315
34,16.160393,15.174503
35,42.958384,46.586500
36,68.717597,65.628779
37,69.808006,70.823622
38,80.414037,75.745710
39,14.203484,16.085691
40,19.127477,16.702370
41,30.341471,31.123737
42,99.113292,91.563099
43,6.306883,8.048783
44,19.754605,18.555031
45,24.423131,24.929575
46,33.697717,31.190046
47,47.914542,51.051267
48,68.517833,68.722157
49,75.270407,76.199290
50,80.414037,75.745710
51,83.851018,82.465343

In [0]:
collection_prediction  = db['prediction_data']
data_dict = df_prediction.to_dict(orient="records")
collection_prediction.insert_many(data_dict)

Out[43]: InsertManyResult([ObjectId('67a87e5093f2f9effe2f4028'), ObjectId('67a87e5093f2f9effe2f4029'), ObjectId('67a87e5093f2f9effe2f402a'), ObjectId('67a87e5093f2f9effe2f402b'), ObjectId('67a87e5093f2f9effe2f402c'), ObjectId('67a87e5093f2f9effe2f402d'), ObjectId('67a87e5093f2f9effe2f402e'), ObjectId('67a87e5093f2f9effe2f402f'), ObjectId('67a87e5093f2f9effe2f4030'), ObjectId('67a87e5093f2f9effe2f4031'), ObjectId('67a87e5093f2f9effe2f4032'), ObjectId('67a87e5093f2f9effe2f4033'), ObjectId('67a87e5093f2f9effe2f4034'), ObjectId('67a87e5093f2f9effe2f4035'), ObjectId('67a87e5093f2f9effe2f4036'), ObjectId('67a87e5093f2f9effe2f4037'), ObjectId('67a87e5093f2f9effe2f4038'), ObjectId('67a87e5093f2f9effe2f4039'), ObjectId('67a87e5093f2f9effe2f403a'), ObjectId('67a87e5093f2f9effe2f403b'), ObjectId('67a87e5093f2f9effe2f403c'), ObjectId('67a87e5093f2f9effe2f403d'), ObjectId('67a87e5093f2f9effe2f403e'), ObjectId('67a87e5093f2f9effe2f403f'), ObjectId('67a87e5093f2f9effe2f4040'), ObjectId('67a87e5093f2f9effe2f4041'), ObjectId('67a87e5093f2f9effe2f4042'), ObjectId('67a87e5093f2f9effe2f4043'), ObjectId('67a87e5093f2f9effe2f4044'), ObjectId('67a87e5093f2f9effe2f4045'), ObjectId('67a87e5093f2f9effe2f4046'), ObjectId('67a87e5093f2f9effe2f4047'), ObjectId('67a87e5093f2f9effe2f4048'), ObjectId('67a87e5093f2f9effe2f4049'), ObjectId('67a87e5093f2f9effe2f404a'), ObjectId('67a87e5093f2f9effe2f404b'), ObjectId('67a87e5093f2f9effe2f404c'), ObjectId('67a87e5093f2f9effe2f404d'), ObjectId('67a87e5093f2f9effe2f404e'), ObjectId('67a87e5093f2f9effe2f404f'), ObjectId('67a87e5093f2f9effe2f4050'), ObjectId('67a87e5093f2f9effe2f4051'), ObjectId('67a87e5093f2f9effe2f4052'), ObjectId('67a87e5093f2f9effe2f4053'), ObjectId('67a87e5093f2f9effe2f4054'), ObjectId('67a87e5093f2f9effe2f4055'), ObjectId('67a87e5093f2f9effe2f4056'), ObjectId('67a87e5093f2f9effe2f4057'), ObjectId('67a87e5093f2f9effe2f4058'), ObjectId('67a87e5093f2f9effe2f4059'), ObjectId('67a87e5093f2f9effe2f405a'), ObjectId('67a87e5093f2f9effe2f405b')], acknowledged=True)