In [0]:
from pymongo import MongoClient
import pandas as pd

In [0]:
pip install pymongo

Python interpreter will be restarted.
Collecting pymongo
  Downloading pymongo-4.11-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (921 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11
Python interpreter will be restarted.

In [0]:
uri = "mongodb+srv://sudhanshu:sudh1234@sudhanshu.aprk5.mongodb.net/?retryWrites=true&w=majority&appName=sudhanshu"

# Create a new client and connect to the server
client = MongoClient(uri)
db = client['inventory']
collection = db['supplychain_data']

In [0]:
data = list(collection.find())

In [0]:
df = pd.DataFrame(data)

In [0]:
df.head()

,_id,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,67a872fd3beb812e196f206d,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,67a872fd3beb812e196f206e,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,67a872fd3beb812e196f206f,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,67a872fd3beb812e196f2070,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,67a872fd3beb812e196f2071,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [0]:
df.drop(columns=["_id"],inplace=True)

In [0]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col , date_format
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [0]:
spark  = SparkSession.builder.appName("supply chain inventory price prediction").getOrCreate()
inventory_df= spark.createDataFrame(df)

In [0]:
inventory_df.columns

Out[17]: ['Product type',
 'SKU',
 'Price',
 'Availability',
 'Number of products sold',
 'Revenue generated',
 'Customer demographics',
 'Stock levels',
 'Lead times',
 'Order quantities',
 'Shipping times',
 'Shipping carriers',
 'Shipping costs',
 'Supplier name',
 'Location',
 'Lead time',
 'Production volumes',
 'Manufacturing lead time',
 'Manufacturing costs',
 'Inspection results',
 'Defect rates',
 'Transportation modes',
 'Routes',
 'Costs']

In [0]:
inputColumn =["Price",'Stock levels']

In [0]:
assembler = VectorAssembler(inputCols=["Price",'Stock levels'],outputCol="features")
data = assembler.transform(inventory_df).select("features","price")

In [0]:
data.show()

+--------------------+------------------+
|            features|             price|
+--------------------+------------------+
|[69.8080055421157...| 69.80800554211577|
|[14.8435232750843...| 14.84352327508434|
|[11.3196832930905...|11.319683293090566|
|[61.1633430164377...|61.163343016437736|
|[4.80549603634589...| 4.805496036345893|
|[1.69997601386593...|1.6999760138659377|
|[4.07833286310794...| 4.078332863107945|
|[42.9583843824600...| 42.95838438246007|
|[68.7175967485273...| 68.71759674852733|
|[64.0157329412785...| 64.01573294127854|
|[15.7077956819121...|15.707795681912138|
|[90.6354599822886...| 90.63545998228868|
|[71.2133890753600...| 71.21338907536008|
|[16.1603933173799...|16.160393317379977|
|[99.1713286386242...|  99.1713286386242|
|[36.9892449286269...| 36.98924492862691|
|[7.54717210979127...| 7.547172109791272|
|[81.4625343692370...| 81.46253436923702|
|[36.4436277704609...|36.443627770460935|
|[51.1238700879647...| 51.12387008796474|
+--------------------+------------------+
only showing top 20 rows

In [0]:
train_data , test_data = data.randomSplit([.8,.2])

In [0]:
rf = RandomForestRegressor(featuresCol="features",labelCol="price",numTrees=10000)
model = rf.fit(train_data)

In [0]:
model.transform(test_data).show()

+--------------------+------------------+------------------+
|            features|             price|        prediction|
+--------------------+------------------+------------------+
|[4.07833286310794...| 4.078332863107945| 8.484126277730088|
|[14.8435232750843...| 14.84352327508434|14.990724424008517|
|[36.4436277704609...|36.443627770460935| 35.24523002722941|
|[50.8473930517187...|  50.8473930517187|50.544151108662525|
|[63.4475591852073...| 63.44755918520733| 65.37320935578111|
|[81.4625343692370...| 81.46253436923702| 82.34777348642756|
|[99.1713286386242...|  99.1713286386242| 91.07025302539192|
|[23.3998447526143...| 23.39984475261435| 25.20129331558087|
|[33.6977172066431...| 33.69771720664313|31.190045777420913|
|[49.2632053507341...| 49.26320535073416| 51.06628659219078|
|[83.8510176813046...|  83.8510176813046| 82.46534259979094|
|[89.6340956081353...| 89.63409560813533| 88.15455581211769|
|[13.8819135013591...|13.881913501359142|14.139789126686246|
|[57.0570312211032...| 57.05703122110322| 58.25251092107874|
|[68.7175967485273...| 68.71759674852733|   65.628778539861|
|[69.1087995474303...| 69.10879954743032| 66.60350464473255|
|[69.2908310029054...| 69.29083100290549| 69.56376965230325|
|[72.8192069303182...| 72.81920693031822| 73.91479448703481|
|[97.7600855819386...| 97.76008558193868| 89.06890196934677|
|[7.54717210979127...| 7.547172109791272| 9.223349816131766|
+--------------------+------------------+------------------+
only showing top 20 rows